body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    backdrop-filter: blur(100px);
    font-family: 'Roboto', sans-serif;
}

@keyframes AnimB {
    0%{background-color:#1e00ff; border-radius: 50;}
    25%{background-color:#7300ff;border-radius: 60;}
    50%{background-color:#b700ff;border-radius: 70;}
    100%{background-color:#1e00ff;border-radius: 50;}
}

@keyframes enterblob {
    0%{background-color: #1e00ff00}
    100%{background-color: #1e00ff}
}

.blob{
    animation: enterblob 2s ease-in;
    margin: 0 auto;
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 120px;
    background-color:#1e00ff;
	height: 500px;
	width: 500px;
	border-radius: 50%;
    filter: blur(200px);
    z-index: -2;
}

.navbar{  
    animation: enteru 2s ease-in;
    position: relative;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.335);
    backdrop-filter: blur(100px);
    padding: auto;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}



.btn{
    animation: enteru 2s ease-in;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #222;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn:hover{
    background-color: #003cff;
    color: #fff;
    box-shadow: 0px 0px 26px 3px #5900ff;
}

.navlist{
    animation: enteru 2s ease-in;
    list-style-type: none;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}

.navlist li a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.navlist li a:hover{
    color: #fff;
    text-decoration: underline;
    list-style-type: none;
}

.btncenter{
    animation: enteru 2s ease-in;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #222;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    
}

.btncenter:hover{
    background:linear-gradient(45deg, #0008ff 0%, #ff00f7 100%);
    color: #fff;
    box-shadow: 0px 0px 26px 3px #ff00f2;
    z-index: 1;
    transition: all .2s ease-in;
    transform: scale(1.3);
    transition: all .2s ease-out;

}

.footer{
    animation: enteru 2s ease-in;
    background-color: #0000000f;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
}

.fadetext{
    animation: enteru 2s ease-in;
    color: #ffffff75;
}


h1{
    display: block;
    width: 100%;
    animation: enter 2s ease-in, animationName 15s ease infinite;
    font-size: 60px;
    filter: drop-shadow(-1px 0px 25px #50ffc5);
    background: linear-gradient(90deg, #ffd900 0%, #00bfff 100%);
    margin-top: 20px;
    background-clip: text;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

@keyframes enter {
    0%{font-size: 0px; opacity: 0;}
    100%{font-size: 60px; opacity: 1;}

}

@keyframes enteru {
    0% {opacity: 0;}
    100% {opacity: 1;}

}

@keyframes animationName {
    0%{filter: drop-shadow(-1px 0px 25px   #50ffc5);}
    50%{filter: drop-shadow(-1px 0px 25px  #11ff00);}
    75%{filter: drop-shadow(-1px 0px 25px  #fbf700);}
    100%{filter: drop-shadow(-1px 0px 25px #50ffc5);}
}


p{
    animation: enteru 3s ease-in;
    color: #fff;
    margin-top: 20px;
}
                


